/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

::selection {
  color: #000;
  background: #fff;
  /* Safari */ }

::-moz-selection {
  color: #000;
  background: #fff;
  /* Firefox */ }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-weight: 300;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.34;
  color: #fff;
  background-color: #0d0d0d; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

section {
  position: relative; }
  @media (min-width: 768px) {
    section {
      min-height: 1024px; } }
  @media (min-width: 1200px) {
    section {
      min-height: 1000px;
      background-size: auto auto; } }

a {
  color: #fff;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

p {
  padding: 0;
  font-size: 18px;
  line-height: 1.34;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.h2 {
  color: #fff;
  font-weight: 300;
  margin-bottom: 35px; }
  .h2 .second {
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase; }
  .h2 .primary {
    padding: 10px 0;
    font-size: 0;
    line-height: 0; }
  @media (min-width: 768px) {
    .h2 .primary {
      padding: 17px 0; } }

b,
strong {
  font-weight: 500; }

.pages {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative; }
  .pages li {
    width: 50%;
    float: left;
    line-height: 40px; }
    .pages li:first-child {
      font-size: 14px;
      font-weight: 300;
      text-align: right;
      text-transform: uppercase; }
    .pages li:last-child {
      color: #3f3f3f;
      font-size: 24px;
      font-weight: 500;
      text-align: left;
      padding-left: 70px;
      position: relative; }
      .pages li:last-child:before {
        top: 50%;
        left: 15px;
        width: 40px;
        content: '';
        margin-top: -2px;
        position: absolute;
        border: 1px solid #9e9e9e; }
      .pages li:last-child b {
        color: #fff;
        font-size: 36px;
        font-weight: 500; }
  @media (min-width: 768px) {
    .pages {
      right: 15px;
      bottom: 25px;
      position: absolute; }
      .pages li {
        width: auto;
        float: left; } }

.modal {
  position: relative;
  padding: 40px 20px;
  background: transparent; }
  .modal:before {
    width: 1px;
    height: 1px;
    content: '';
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    background: url("../img/modal-bg.jpg") 50% 50% no-repeat; }
  .modal .form-title {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase; }
  .modal .form-box {
    margin: 0 auto;
    max-width: 480px; }
    .modal .form-box .btn {
      width: 100%; }
  .modal .modal-content {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    max-width: 420px;
    line-height: 20px; }
    .modal .modal-content h2 {
      font-size: 24px;
      font-weight: 300;
      line-height: 30px;
      margin-bottom: 25px;
      text-transform: uppercase; }
    .modal .modal-content .modal-text {
      padding-bottom: 30px; }
    .modal .modal-content p {
      margin-bottom: 30px; }
    .modal .modal-content .call {
      font-size: 18px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 5px;
      text-transform: uppercase; }
    .modal .modal-content .modal-tel {
      color: #fff;
      font-size: 30px;
      font-weight: 300;
      line-height: 40px;
      display: inline-block;
      text-decoration: none;
      margin-bottom: 25px; }
  @media (min-width: 768px) {
    .modal .form-title {
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 40px; } }
  @media (min-width: 1200px) {
    .modal {
      padding-left: 540px; }
      .modal .form-box {
        width: 380px; }
      .modal .form-title {
        font-size: 36px;
        line-height: 40px; }
      .modal .modal-content {
        font-size: 18px;
        line-height: 24px; }
        .modal .modal-content h2 {
          font-size: 48px;
          line-height: 50px;
          margin-bottom: 50px; }
        .modal .modal-content .modal-tel {
          font-size: 48px;
          line-height: 50px;
          margin-bottom: 50px; } }

.btn-close {
  top: 20px;
  right: 40px;
  width: 21px;
  height: 20px;
  cursor: pointer;
  position: fixed;
  display: inline-block;
  background: url("../img/icon-close.png") 0 0 no-repeat; }

.fancybox-overlay {
  background: #0d0d0d; }
  .fancybox-overlay .fancybox-skin {
    background: transparent !important; }
  .fancybox-overlay .fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
  @media (min-width: 1200px) {
    .fancybox-overlay {
      background: #0d0d0d;
      background-size: cover; } }

.relative {
  position: relative; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 740px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1160px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1160px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
.btn {
  margin: 0;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  position: relative;
  padding: 10px 27px;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  background: transparent;
  border: 1px solid #444444;
  touch-action: manipulation;
  border-right-color: #ffffff; }
  .btn:before {
    left: 50%;
    top: -1px;
    width: 50%;
    content: '';
    z-index: 10;
    position: absolute;
    border-bottom: 1px solid #fff; }
  .btn:after {
    right: 0;
    width: 25%;
    content: '';
    z-index: 10;
    bottom: -1px;
    position: absolute;
    border-bottom: 1px solid #fff; }
  .btn:hover {
    color: #fff;
    text-decoration: none; }
    .btn:hover:after {
      width: 100%; }
  .btn:active {
    top: 1px;
    border-color: #fff; }

.btn-invert {
  color: #000;
  border-color: #888;
  background-color: #fff;
  border-right-color: #000; }
  .btn-invert:after {
    border-color: #000; }
  .btn-invert:before {
    border-color: #000; }
  .btn-invert:hover {
    color: #000; }
    .btn-invert:hover:after {
      width: 100%; }
  .btn-invert:active {
    border-color: #000; }

.btn-sm {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 33px; }
  @media (min-width: 1200px) {
    .btn-sm {
      font-size: 18px;
      padding: 15px 60px; } }

.btn-md {
  font-size: 18px;
  font-weight: 400;
  padding: 22px 30px; }
  @media (min-width: 768px) {
    .btn-md {
      padding: 21px 42px;
      font-size: 24px;
      line-height: 30px; } }

.btn-send {
  width: 100%;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  padding: 11px 27px; }
  @media (min-width: 768px) {
    .btn-send {
      font-size: 30px;
      margin-top: 0;
      padding: 18px 27px;
      line-height: 40px; } }

input[type='text'],
textarea {
  margin: 0;
  width: 100%;
  color: #868686;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding: 7px 12px;
  display: inline-block;
  background: transparent;
  border: 1px solid #fff; }
  input[type='text']::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #868686;
    opacity: 1; }
  input[type='text']:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #868686; }
  input[type='text']::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #868686; }
  input[type='text']::-ms-clear,
  textarea::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  input[type='text']:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  input[type='text']:focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder {
    color: transparent; }
  input[type='text']:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: transparent; }

.select-control {
  margin: 0;
  width: 100%;
  color: #868686;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding: 7px 12px;
  display: inline-block;
  border: 1px solid #fff;
  background: transparent url("../img/select.png") 100% 50% no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none !important; }
  .select-control::-moz-placeholder {
    color: #868686;
    opacity: 1; }
  .select-control:-ms-input-placeholder {
    color: #868686; }
  .select-control::-webkit-input-placeholder {
    color: #868686; }
  .select-control select::-ms-expand {
    display: none; }
  .select-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .select-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .select-control:focus:-ms-input-placeholder {
    color: transparent; }
  .select-control:focus::-webkit-input-placeholder {
    color: transparent; }
  .select-control option {
    background: #0d0d0d; }

.red .form-control {
  border-color: #ff0000; }

label {
  font-weight: 400;
  display: block; }

.form-group {
  margin-bottom: 13px; }

@media (min-width: 768px) {
  input[type='text'],
  textarea {
    font-size: 24px;
    padding: 21px 12px; }

  .select-control {
    font-size: 24px;
    padding: 21px 12px; }

  .form-group {
    margin-bottom: 22px; } }
@media (min-width: 1200px) {
  input[type='text'],
  textarea {
    font-size: 24px;
    padding: 21px 12px; }

  .select-control {
    padding: 21px 12px; }

  .form-group {
    margin-bottom: 24px; } }
.form-radio .icr-text {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 10px 0 10px 40px; }
  .form-radio .icr-text:before {
    left: 0;
    top: 5px;
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    background: transparent;
    position: absolute;
    border: 4px solid #181818;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
.form-radio .checked .icr-text:after {
  left: 8px;
  top: 13px;
  content: '';
  width: 14px;
  height: 14px;
  display: block;
  background: #fff;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
.form-radio label {
  position: relative;
  display: inline-block; }
.form-radio .icr-hidden {
  display: none; }
@media (min-width: 1200px) {
  .form-radio .icr-text {
    font-size: 24px;
    line-height: 30px;
    padding: 5px 0 5px 40px; } }

.form-checkbox .icr-text {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 10px 0 10px 40px; }
  .form-checkbox .icr-text:before {
    left: 0;
    top: 5px;
    content: '';
    width: 28px;
    height: 28px;
    z-index: 10;
    display: block;
    background: transparent;
    position: absolute;
    border: 2px solid #181818;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .form-checkbox .icr-text:after {
    left: 0;
    top: 5px;
    content: '';
    width: 28px;
    height: 28px;
    z-index: 20;
    display: none;
    position: absolute;
    background: url("../img/icon-check.png") 50% 50% no-repeat; }
.form-checkbox .checked .icr-text:after {
  display: block; }
.form-checkbox label {
  position: relative;
  display: inline-block; }
.form-checkbox .icr-hidden {
  display: none; }
@media (min-width: 1200px) {
  .form-checkbox .icr-text {
    font-size: 24px;
    line-height: 30px;
    padding: 5px 0 5px 40px; } }

.select-main {
  display: block;
  width: 100%; }
  .select-main .select-main-link {
    margin: 0;
    width: 100%;
    color: #868686;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding: 21px 12px;
    display: inline-block;
    border: 1px solid #fff;
    background: transparent url("../img/select.png") 100% 50% no-repeat; }
    .select-main .select-main-link::-moz-placeholder {
      color: #868686;
      opacity: 1; }
    .select-main .select-main-link:-ms-input-placeholder {
      color: #868686; }
    .select-main .select-main-link::-webkit-input-placeholder {
      color: #868686; }
    .select-main .select-main-link:hover {
      color: #fff; }
  .select-main .ik_select_link_text {
    overflow: hidden; }
  @media (min-width: 1200px) {
    .select-main .select-main-link {
      font-size: 22px; } }

.ik_select_dropdown .ik_select_list_inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #0d0d0d; }
  .ik_select_dropdown .ik_select_list_inner ul li {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    padding: 15px 10px;
    background: #0d0d0d;
    margin-bottom: 0; }
    .ik_select_dropdown .ik_select_list_inner ul li:before {
      display: none; }
    .ik_select_dropdown .ik_select_list_inner ul li:hover {
      color: #fff;
      background: #111111; }
    @media (min-width: 1200px) {
      .ik_select_dropdown .ik_select_list_inner ul li {
        font-size: 24px;
        padding: 20px 10px; } }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

@-ms-viewport {
  width: device-width; }
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 1200px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 1200px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 1200px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 1200px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: absolute; }
  .header .header-container {
    position: relative;
    padding: 15px 20px 20px 15px; }
    .header .header-container:before, .header .header-container:after {
      content: " ";
      display: table; }
    .header .header-container:after {
      clear: both; }
    .header .header-container:before {
      left: 50%;
      top: 115px;
      width: 40px;
      height: 49px;
      content: ' ';
      margin-left: -20px;
      position: absolute;
      background: url("../img/triangle_top.png") 0 0 no-repeat; }
  .header .btn-toggle {
    float: left;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    padding-top: 5px;
    display: inline-block; }
    .header .btn-toggle span {
      width: 100%;
      margin-bottom: 6px;
      display: inline-block;
      border-bottom: 3px solid #fff; }
      .header .btn-toggle span:last-child {
        width: 18px;
        margin-bottom: 0; }
  .header .contact {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none; }
    .header .contact li {
      text-align: right;
      margin-bottom: 8px; }
      .header .contact li:before {
        margin-bottom: 0; }
    .header .contact .tel {
      color: #f3f2f2;
      font-size: 18px;
      font-weight: 300;
      line-height: 20px;
      display: inline-block; }
    .header .contact .btn {
      font-size: 14px;
      font-weight: 400;
      padding: 9px 16px; }
  .header .nav {
    top: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
    overflow: hidden;
    position: absolute;
    background: #0d0d0d;
    padding: 25px 75px 25px 40px; }
    .header .nav ul {
      margin: 0;
      font-size: 0;
      line-height: 0;
      padding: 20px 0;
      list-style: none;
      position: relative; }
      .header .nav ul:after {
        top: 5px;
        bottom: 15px;
        right: 15px;
        content: '';
        position: absolute;
        border-left: 1px solid #1e1e1e; }
    .header .nav li {
      text-align: right;
      margin: 0 0 10px 0; }
      .header .nav li a {
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        line-height: 40px;
        display: inline-block;
        opacity: 0.8;
        filter: alpha(opacity=80); }
        .header .nav li a i {
          display: none; }
        .header .nav li a span {
          float: left;
          display: inline-block;
          text-transform: uppercase; }
        .header .nav li a b {
          width: 100px;
          font-size: 24px;
          font-weight: 500;
          position: relative;
          text-align: right;
          float: right;
          display: inline-block; }
          .header .nav li a b:before {
            top: 50%;
            left: 15px;
            width: 42px;
            content: '';
            position: absolute;
            border-bottom: 1px solid #fff; }
        .header .nav li a:hover {
          opacity: 1;
          filter: alpha(opacity=100); }
      .header .nav li.active a {
        opacity: 1;
        filter: alpha(opacity=100); }
        .header .nav li.active a b {
          font-size: 36px;
          margin-right: -5px;
          width: 105px; }
    .header .nav .nav-close {
      top: 18px;
      right: 18px;
      width: 21px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      display: inline-block;
      background: url("../img/icon-close.png") 0 0 no-repeat; }
  @media (min-width: 768px) {
    .header {
      position: fixed; }
      .header .header-container:before {
        top: 18px; }
      .header .contact {
        width: 330px;
        text-align: right; }
        .header .contact li {
          float: left;
          width: 50%; }
        .header .contact .tel {
          padding-top: 10px; }
      .header .nav {
        padding: 35px 50px 35px 70px; }
        .header .nav ul {
          padding: 0; }
          .header .nav ul:after {
            display: none; }
        .header .nav li {
          float: left;
          margin: 0 10px;
          text-align: center; }
          .header .nav li a {
            color: #818181;
            line-height: 20px;
            opacity: 1;
            filter: alpha(opacity=100); }
            .header .nav li a i {
              display: inline;
              margin-right: 4px; }
            .header .nav li a span {
              float: none;
              display: inline;
              letter-spacing: 2px; }
            .header .nav li a b {
              display: none; }
            .header .nav li a:hover {
              color: #fff; }
          .header .nav li.active a {
            color: #fff; }
        .header .nav .nav-close {
          top: 20px;
          left: 20px;
          right: auto; } }
  @media (min-width: 1200px) {
    .header .contact {
      width: 360px; }
      .header .contact .tel {
        font-size: 24px; }
    .header .nav {
      padding: 35px 0 35px 0; }
      .header .nav ul {
        width: 1260px;
        margin: 0 auto;
        padding: 0 50px 0 70px; } }

.b01 {
  max-width: 100%;
  overflow: hidden;
  background: #0d0d0d;
  position: relative;
  padding-top: 190px;
  padding-bottom: 15px; }
  .b01:after {
    z-index: 10;
    top: 50%;
    content: '';
    width: 816px;
    height: 816px;
    display: none;
    margin-top: -408px;
    position: absolute;
    background: url("../img/b01__bg_o.png") 50% 50% no-repeat; }
  .b01 .section-row {
    z-index: 20;
    position: relative; }
  .b01 .h1 {
    width: 252px;
    display: block;
    font-size: 0;
    line-height: 0;
    text-align: center;
    margin: 0 auto 20px auto; }
    .b01 .h1 img,
    .b01 .h1 svg {
      display: inline-block;
      max-width: 100%;
      height: auto; }
    .b01 .h1 .word {
      display: block; }
    .b01 .h1 .word-one {
      margin: 0 40px 30px 40px; }
  .b01 .subtitle {
    font-size: 24px;
    font-weight: 100;
    line-height: 30px;
    text-align: center;
    margin-bottom: 100px;
    text-transform: uppercase; }
  @media (min-width: 768px) {
    .b01 {
      height: 1024px;
      padding-top: 360px;
      padding-bottom: 110px;
      background: url("../img/b01__bg.jpg") 50% 50% no-repeat;
      background-size: cover; }
      .b01:before {
        top: 18px; }
      .b01:after {
        left: -408px;
        display: block; }
      .b01 .h1 {
        width: 590px;
        margin-bottom: 40px; }
        .b01 .h1 .word-one {
          margin: 0 30px 0 0; }
        .b01 .h1 .word {
          display: inline-block; }
      .b01 .subtitle {
        font-size: 36px;
        line-height: 40px; } }
  @media (min-width: 1200px) {
    .b01:after {
      left: auto;
      right: -488px;
      display: block; } }

.b02 {
  max-width: 100%;
  overflow: hidden;
  padding-top: 50px;
  position: relative;
  background: #0d0d0d url("../img/b02__bg.png") 50% 50px no-repeat; }
  .b02 .h2 {
    margin-bottom: 30px; }
  @media (min-width: 768px) {
    .b02 {
      padding-top: 140px;
      padding-bottom: 110px; } }

.people-inner {
  overflow: hidden;
  position: relative; }

.people.people-mobile {
  width: 282px;
  margin: 0 auto;
  position: relative; }
  .people.people-mobile:before {
    bottom: 240px;
    left: 50%;
    width: 29px;
    height: 31px;
    content: '';
    z-index: 50;
    display: block;
    margin-left: -15px;
    position: absolute;
    background: url("../img/b02__swipe.png") 0 0 no-repeat; }
  .people.people-mobile:after {
    bottom: 240px;
    left: 50%;
    width: 162px;
    height: 35px;
    content: '';
    display: block;
    margin-left: -81px;
    position: absolute;
    background: url("../img/b02__swipe_arrow.png") 0 0 no-repeat; }
.people.people-desktop {
  top: 0;
  left: 0;
  z-index: 100;
  width: 3000px;
  display: none;
  position: absolute; }
  .people.people-desktop .people-item {
    float: left;
    width: 282px; }
.people .people-item {
  border: none;
  outline: none;
  position: relative; }
  .people .people-item:before, .people .people-item:after {
    content: " ";
    display: table; }
  .people .people-item:after {
    clear: both; }
  .people .people-item .btn-info-toggle {
    left: 50%;
    bottom: 150px;
    width: 56px;
    height: 56px;
    z-index: 50;
    content: ' ';
    cursor: pointer;
    margin-left: -26px;
    position: absolute;
    display: inline-block;
    background: url("../img/b02__btn.png") no-repeat; }
  .people .people-item .people-info {
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;
    position: absolute; }
    .people .people-item .people-info span {
      display: block; }
    .people .people-item .people-info .people-name {
      font-size: 30px;
      font-weight: 300;
      line-height: 34px;
      margin-bottom: 5px; }
    .people .people-item .people-info .people-staff {
      font-size: 18px;
      font-weight: 300;
      line-height: 20px; }
  .people .people-item .people-image {
    position: relative; }
    .people .people-item .people-image .people-info {
      color: #fff; }
    .people .people-item .people-image .btn-info-toggle {
      background-position: 0 0; }
  .people .people-item .people-text {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    color: #111111;
    font-size: 18px;
    font-weight: 300;
    background: #fff;
    line-height: 24px;
    text-align: center;
    position: absolute;
    padding: 60px 20px 200px 20px; }
    .people .people-item .people-text .people-info {
      color: #111111; }
    .people .people-item .people-text .btn-info-toggle {
      background-position: 0 -56px; }
  .people .people-item .social-link {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    left: 0;
    width: 100%;
    bottom: 90px;
    z-index: 250;
    display: none;
    text-align: center;
    position: absolute;
    list-style: none; }
    .people .people-item .social-link li {
      margin: 0 5px;
      display: inline-block; }
      .people .people-item .social-link li a {
        padding: 0 5px;
        outline: none;
        color: #ccc;
        font-size: 30px;
        line-height: 30px;
        text-decoration: none; }
        .people .people-item .social-link li a:hover {
          color: #000; }
      .people .people-item .social-link li:nth-child(2) a {
        color: #000; }
  .people .people-item.active:after {
    display: none; }
  .people .people-item.active .people-text {
    display: block; }
.people .slick-list {
  overflow: visible !important; }
@media (min-width: 768px) {
  .people.people-mobile {
    width: 384px; }
    .people.people-mobile:before {
      bottom: 330px; }
    .people.people-mobile:after {
      bottom: 330px; }
  .people .people-item .btn-info-toggle {
    bottom: 210px; }
  .people .people-item .people-info {
    bottom: 65px; }
  .people .people-item .people-text {
    padding-top: 160px; }
  .people.people-desktop .people-item {
    width: 384px; } }
@media (min-width: 1200px) {
  .people.people-mobile {
    width: 1152px; }
  .people.people-desktop {
    display: block; }
    .people.people-desktop .people-item {
      width: 384px; }
      .people.people-desktop .people-item.active {
        width: 768px;
        vertical-align: top; }
        .people.people-desktop .people-item.active .people-image {
          width: 384px;
          float: left; }
        .people.people-desktop .people-item.active .people-text {
          float: left;
          width: 384px;
          height: 730px;
          position: relative; }
          .people.people-desktop .people-item.active .people-text .people-info {
            display: none; }
          .people.people-desktop .people-item.active .people-text .social-link {
            display: block; } }

.b03 {
  max-width: 100%;
  overflow: hidden;
  padding-top: 50px;
  background: #0d0d0d url("../img/b03__bg.png") 50% 50px no-repeat; }
  .b03:after {
    z-index: 10;
    top: 50%;
    right: -558px;
    content: '';
    width: 816px;
    height: 816px;
    display: none;
    margin-top: -408px;
    position: absolute;
    background: url("../img/b01__bg_o.png") 50% 50% no-repeat; }
  .b03 .container {
    z-index: 50; }
  .b03 h2 {
    margin-bottom: 45px; }
  .b03 .clients {
    width: 170px;
    margin: 0 auto; }
    .b03 .clients li {
      margin-bottom: 30px; }
      .b03 .clients li span {
        display: block;
        position: relative;
        border: 1px solid #444444; }
        .b03 .clients li span b {
          display: block;
          position: relative; }
        .b03 .clients li span img {
          -webkit-filter: grayscale(100%);
          -webkit-filter: grayscale(1);
          filter: grayscale(100%);
          filter: url("../img/gray.svg#grayscale");
          filter: gray; }
        .b03 .clients li span:hover:before {
          top: -1px;
          left: -1px;
          content: '';
          height: 45px;
          z-index: 200;
          position: absolute;
          border-left: 1px solid #fff; }
        .b03 .clients li span:hover:after {
          right: -1px;
          bottom: -1px;
          content: '';
          height: 45px;
          z-index: 200;
          position: absolute;
          border-right: 1px solid #fff; }
        .b03 .clients li span:hover b:before {
          top: -1px;
          right: -1px;
          content: '';
          width: 45px;
          z-index: 200;
          position: absolute;
          border-top: 1px solid #fff; }
        .b03 .clients li span:hover b:after {
          left: -1px;
          bottom: -1px;
          content: '';
          width: 45px;
          z-index: 200;
          position: absolute;
          border-bottom: 1px solid #fff; }
        .b03 .clients li span:hover img {
          -webkit-filter: grayscale(0%);
          -webkit-filter: grayscale(0);
          filter: grayscale(0%);
          filter: none; }
  @media (min-width: 768px) {
    .b03 {
      padding-top: 140px;
      padding-bottom: 110px; }
      .b03 .clients {
        width: auto;
        margin: 0 -10px; }
        .b03 .clients li {
          width: 25%;
          float: left;
          padding: 0 10px;
          margin-bottom: 50px; } }
  @media (min-width: 1200px) {
    .b03:after {
      display: block; }
    .b03 .clients {
      margin: 0 -70px; }
      .b03 .clients li {
        padding: 0 75px;
        margin-bottom: 40px; } }

.b04 {
  max-width: 100%;
  overflow: hidden;
  padding-top: 50px;
  background: #0d0d0d url("../img/b04__bg.png") 50% 50px no-repeat; }
  .b04 h2 {
    margin-bottom: 25px; }
  .b04 .work {
    margin: 0 auto;
    max-width: 550px; }
    .b04 .work li {
      color: #fff;
      height: 311px;
      margin-bottom: 25px;
      padding: 110px 20px 50px 30px; }
      .b04 .work li.item1 {
        background: url("../img/b04__item1.jpg") 0 0 no-repeat; }
      .b04 .work li.item2 {
        background: url("../img/b04__item2.jpg") 0 0 no-repeat; }
      .b04 .work li.item3 {
        background: url("../img/b04__item3.jpg") 0 0 no-repeat; }
      .b04 .work li.item4 {
        background: url("../img/b04__item4.jpg") 0 0 no-repeat; }
      .b04 .work li h4 {
        font-size: 36px;
        font-weight: 300;
        line-height: 40px;
        margin-bottom: 5px;
        text-transform: uppercase; }
      .b04 .work li p {
        font-size: 18px;
        font-weight: 300;
        line-height: 22px; }
  @media (min-width: 768px) {
    .b04 {
      padding-top: 140px;
      padding-bottom: 110px; }
      .b04 .work {
        margin: 0 -10px;
        max-width: inherit; }
        .b04 .work li {
          float: left;
          width: 350px;
          margin: 0 10px 20px 10px; } }
  @media (min-width: 1200px) {
    .b04 .work {
      margin: 0 -15px; }
      .b04 .work li {
        width: 555px;
        margin: 0 15px 25px 15px; } }

.b05 {
  max-width: 100%;
  overflow: hidden;
  padding-top: 50px;
  position: relative;
  background: #0d0d0d url("../img/b05__bg.png") 50% 50% no-repeat; }
  .b05:after {
    z-index: 10;
    top: 50%;
    right: -40px;
    content: '';
    width: 582px;
    height: 696px;
    display: none;
    margin-top: -348px;
    position: absolute;
    background: url("../img/b05__bg_item.png") 50% 50% no-repeat; }
  .b05 .container {
    z-index: 20; }
  .b05 h2 {
    margin-bottom: 35px; }
  .b05 .service {
    padding: 0;
    margin: 0 auto;
    max-width: 320px; }
    .b05 .service > li {
      overflow: hidden;
      position: relative;
      margin-bottom: 55px;
      -webkit-box-shadow: 0px 13px 22px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 13px 22px 0px rgba(0, 0, 0, 0.5); }
      .b05 .service > li:last-child {
        margin-bottom: 0; }
    .b05 .service .service-text {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      position: absolute;
      padding: 220px 5px 120px 5px; }
      .b05 .service .service-text .service-link {
        top: 72px;
        left: 50%;
        width: 56px;
        height: 56px;
        display: block;
        margin-left: -28px;
        position: absolute;
        background: url("../img/icon-info.png") 0 0 no-repeat; }
      .b05 .service .service-text h4 {
        font-size: 22px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 5px; }
      .b05 .service .service-text p {
        font-size: 14px;
        font-weight: 300;
        line-height: 18px; }
      .b05 .service .service-text .service-bottom {
        left: 0;
        right: 0;
        bottom: 80px;
        position: absolute;
        text-align: center; }
    .b05 .service .service-info {
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      height: 100%;
      color: #282828;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      position: absolute;
      display: none;
      background: #ffffff;
      padding: 50px 20px 160px 30px; }
      .b05 .service .service-info .info-close {
        top: 12px;
        right: 12px;
        width: 21px;
        height: 19px;
        cursor: pointer;
        position: absolute;
        display: inline-block;
        background: url("../img/info-close.png") 0 0 no-repeat; }
      .b05 .service .service-info h4 {
        color: #000;
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 30px;
        text-transform: uppercase; }
      .b05 .service .service-info .service-footer {
        left: 30px;
        right: 20px;
        bottom: 35px;
        position: absolute; }
        .b05 .service .service-info .service-footer .call {
          font-size: 18px;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 5px;
          text-transform: uppercase; }
        .b05 .service .service-info .service-footer .modal-tel {
          color: #282828;
          font-size: 30px;
          font-weight: 300;
          line-height: 40px;
          display: inline-block;
          text-decoration: none;
          margin-bottom: 25px; }
        .b05 .service .service-info .service-footer .btn-order {
          color: #282828;
          border-color: #282828; }
          .b05 .service .service-info .service-footer .btn-order:after, .b05 .service .service-info .service-footer .btn-order:before {
            border-color: #282828; }
    .b05 .service .service-form {
      padding-top: 70px; }
      .b05 .service .service-form .form-title {
        font-size: 24px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase; }
      .b05 .service .service-form .form-control {
        color: #acacac;
        border-color: #acacac; }
      .b05 .service .service-form .select-control {
        color: #acacac;
        border-color: #acacac;
        background-color: #fff; }
        .b05 .service .service-form .select-control option {
          background: #fff; }
      .b05 .service .service-form .btn {
        color: #000;
        border-color: #7f7f7f; }
        .b05 .service .service-form .btn:after, .b05 .service .service-form .btn:before {
          border-color: #000; }
  @media (min-width: 768px) {
    .b05 {
      padding-top: 140px;
      padding-bottom: 110px; }
      .b05 h2 {
        margin-bottom: 40px; }
      .b05 .service {
        max-width: 390px; }
        .b05 .service > li {
          height: 520px; }
        .b05 .service .service-form .btn {
          margin-top: 0;
          padding: 9px 20px; }
        .b05 .service .form-control {
          padding: 14px 12px; }
        .b05 .service .select-control {
          padding: 14px 12px; }
        .b05 .service .form-group {
          margin-bottom: 11px; } }
  @media (min-width: 1200px) {
    .b05:after {
      display: block; }
    .b05 .h2 {
      margin-bottom: 90px; }
    .b05 .service {
      margin: 0 -30px;
      max-width: inherit; }
      .b05 .service > li {
        float: left;
        width: 320px;
        margin: 0 30px;
        height: auto; }
      .b05 .service .service-info {
        display: none !important; }
      .b05 .service .service-form .btn {
        margin-top: 0;
        padding: 19px 27px; }
      .b05 .service .form-control {
        font-size: 24px;
        padding: 21px 12px; }
      .b05 .service .select-control {
        padding: 21px 12px; }
      .b05 .service .form-group {
        margin-bottom: 24px; } }

.b06 {
  max-width: 100%;
  overflow: hidden;
  padding-top: 50px;
  position: relative;
  padding-bottom: 110px;
  background: #0d0d0d url("../img/b06__bg.png") 50% 50% no-repeat; }
  .b06 .grid .grid__item .img-wrap {
    position: relative; }
    .b06 .grid .grid__item .img-wrap .grid-text {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      display: inline-block; }
      .b06 .grid .grid__item .img-wrap .grid-text:hover {
        background: rgba(0, 0, 0, 0.3); }
        .b06 .grid .grid__item .img-wrap .grid-text:hover .item-text {
          display: inline-block; }
      .b06 .grid .grid__item .img-wrap .grid-text .item-text {
        left: 0;
        right: 0;
        top: 50%;
        display: none;
        font-size: 18px;
        font-weight: 300;
        line-height: 20px;
        margin-top: -50px;
        padding-top: 75px;
        text-align: center;
        position: absolute;
        text-transform: uppercase;
        background: url("../img/icon-info.png") 50% 0 no-repeat; }
  .b06 .grid .grid__item img {
    display: inline-block;
    max-width: 100%;
    height: auto; }
  @media (min-width: 1200px) {
    .b06 {
      padding-top: 200px; }
      .b06 .h2 {
        margin-bottom: 40px; } }

.grid {
  position: relative;
  margin: 0 auto; }

.js .grid::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #252323 url(../img/loading.svg) no-repeat 50% 75px;
  background-size: 60px auto;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.js .grid--loaded::after {
  opacity: 0; }

.grid__item {
  width: 270px;
  padding: 10px; }

.grid__item--current {
  opacity: 0 !important; }

.img-wrap {
  display: block; }

.img-wrap:focus,
.img-wrap:hover {
  outline: none; }

.img-wrap img {
  display: block;
  max-width: 100%; }

.preview {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 50%;
  height: 100%;
  pointer-events: none; }

.preview::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #1f1d1d;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.preview--open {
  pointer-events: auto; }

.preview--open::before {
  opacity: 1; }

.clone {
  position: fixed;
  z-index: 110;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden; }

.original {
  position: relative;
  z-index: 120;
  display: block;
  object-fit: contain;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-backface-visibility: hidden; }

.preview--open .animate {
  /* open */
  -webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
  transition: transform 0.6s, opacity 0.2s; }

.animate {
  /* close */
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s; }

.description {
  color: #fff; }

.js .description--grid {
  display: none; }

.description--preview {
  font-size: 2em;
  position: absolute;
  z-index: 140;
  width: 100%;
  left: 100%;
  top: 0;
  height: 100%;
  padding: 0 1em;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0); }

.preview--open .description--preview {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.description--preview h3 {
  font-weight: normal;
  margin: 0; }

.description--preview p {
  font-size: 0.65em;
  max-width: 100%; }

.description--preview p em {
  color: #5D5D5D;
  display: block;
  padding: 0.4em 0 0 0; }

/* Details */
.details {
  max-width: 100%;
  /* IE 10-11 bug flexbox */ }

.details ul {
  line-height: 1;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; }

.details ul li {
  font-size: 0.5em;
  position: relative;
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0.15em 0;
  white-space: nowrap;
  opacity: 0;
  color: #9d9d9d;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

.preview--open .details ul li {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.preview--open .details ul li:nth-child(1) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.preview--open .details ul li:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.preview--open .details ul li:nth-child(3) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }

.preview--open .details ul li:nth-child(4) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s; }

.preview--open .details ul li:nth-child(5) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s; }

.details ul li:first-child {
  font-weight: bold;
  color: #909090; }

.icon {
  font-family: 'camera-icons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none; }

.icon + span {
  margin-left: 5px;
  vertical-align: middle; }

.icon-focal_length:before {
  content: '\e600'; }

.icon-exposure_time:before {
  content: '\e601'; }

.icon-iso:before {
  content: '\e602'; }

.icon-camera:before {
  content: '\e603'; }

.icon-aperture:before {
  content: '\e604'; }

.details .icon {
  margin-right: 5px;
  color: #77d45b; }

/* Close button */
.action {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
  color: #6bd68a;
  border: none;
  background: none; }

.action:hover,
.action:focus {
  color: #6bd68a;
  outline: none; }

.action--close {
  position: fixed;
  z-index: 150;
  top: 10px;
  right: 10px;
  padding: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
  background: url("../img/icon-close.png") 50% 50% no-repeat; }

.preview--image-loaded .action--close {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.text-hidden {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
  color: transparent; }

@media screen and (max-width: 40em) {
  .description--preview h3 {
    font-size: 0.5em; }

  .description--preview p,
  .details {
    display: none; } }
.b07 {
  max-width: 100%;
  overflow: hidden;
  padding-top: 50px;
  background: #0d0d0d url("../img/b07__bg.png") 50% 50% no-repeat; }
  .b07:after {
    z-index: 10;
    top: 50%;
    left: -558px;
    content: '';
    width: 816px;
    height: 816px;
    display: none;
    margin-top: -408px;
    position: absolute;
    background: url("../img/b01__bg_o.png") 50% 50% no-repeat; }
  .b07 .container {
    z-index: 50; }
  .b07 .news {
    z-index: 50;
    margin: 0 auto;
    max-width: 400px; }
    .b07 .news .news-content {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      position: absolute; }
      .b07 .news .news-content h4 {
        font-size: 32px;
        font-weight: 300;
        line-height: 36px;
        margin-bottom: 20px;
        text-transform: uppercase; }
      .b07 .news .news-content p {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        max-width: 490px; }
      .b07 .news .news-content .news-link {
        left: 30px;
        color: #fff;
        bottom: 50px;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        position: absolute;
        padding-right: 45px;
        background: url("../img/news-arrow.png") 100% 50% no-repeat; }
        .b07 .news .news-content .news-link span {
          text-transform: uppercase;
          text-decoration: underline; }
    .b07 .news .news-primary {
      height: 497px;
      position: relative;
      margin-bottom: 20px;
      background: url("../img/b07__item1.jpg") 0 0 no-repeat; }
      .b07 .news .news-primary .news-content {
        padding: 145px 10px 70px 30px; }
        .b07 .news .news-primary .news-content p {
          font-size: 19px;
          line-height: 23px; }
    .b07 .news .news-second {
      padding: 0;
      list-style: none;
      margin: 0 0 20px 0; }
      .b07 .news .news-second li {
        height: 290px;
        position: relative;
        margin-bottom: 20px; }
        .b07 .news .news-second li .news-content {
          padding: 95px 10px 70px 30px; }
          .b07 .news .news-second li .news-content p {
            text-transform: uppercase; }
        .b07 .news .news-second li:first-child {
          background: url("../img/b07__item2.jpg") 0 0 no-repeat; }
        .b07 .news .news-second li:last-child {
          margin-bottom: 0;
          background: url("../img/b07__item3.jpg") 0 0 no-repeat; }
  .b07 .news-all {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding-right: 40px;
    background: url("../img/news-arrow.png") 100% 50% no-repeat; }
    .b07 .news-all span {
      text-decoration: underline; }
  @media (min-width: 768px) {
    .b07 {
      padding-top: 140px;
      padding-bottom: 110px; }
      .b07 .news {
        margin: 0 auto;
        max-width: inherit; }
        .b07 .news .news-content .news-link {
          font-size: 18px;
          line-height: 22px; }
        .b07 .news .news-primary h4 {
          font-size: 48px;
          line-height: 56px; }
        .b07 .news .news-primary .news-content .news-link {
          font-size: 24px;
          line-height: 28px; }
        .b07 .news .news-primary .news-content p {
          font-size: 24px;
          line-height: 30px; }
        .b07 .news .news-second {
          margin: 0 -10px; }
          .b07 .news .news-second li {
            float: left;
            width: 350px;
            margin: 0 10px 20px 10px; } }
  @media (min-width: 1200px) {
    .b07:after {
      display: block; }
    .b07 .h2 {
      top: 50%;
      left: -155px;
      margin-top: -78px;
      position: absolute; }
    .b07 .news {
      width: 1260px;
      margin-left: 280px; }
      .b07 .news .news-primary {
        float: left;
        width: 794px;
        height: 635px;
        margin-right: 20px; }
        .b07 .news .news-primary .news-content {
          padding-top: 250px;
          padding-left: 90px; }
          .b07 .news .news-primary .news-content:before {
            top: 30px;
            left: 35px;
            right: 35px;
            bottom: 30px;
            content: ' ';
            position: absolute;
            border: 1px solid #fff; }
          .b07 .news .news-primary .news-content h4 {
            font-size: 48px;
            line-height: 50px; }
          .b07 .news .news-primary .news-content p {
            font-size: 24px;
            line-height: 30px; }
          .b07 .news .news-primary .news-content .news-link {
            left: 90px;
            font-size: 22px;
            line-height: 24px; }
      .b07 .news .news-second {
        margin: 0;
        width: 440px;
        float: left; }
        .b07 .news .news-second li {
          width: 100%;
          margin-bottom: 20px; }
          .b07 .news .news-second li:first-child {
            height: 316px; }
          .b07 .news .news-second li:last-child {
            height: 295px;
            margin-bottom: 0; }
        .b07 .news .news-second .news-content .news-link {
          display: none; }
    .b07 .news-all {
      font-size: 22px;
      line-height: 26px;
      margin-left: 280px; } }

.b08 {
  max-width: 100%;
  overflow: hidden;
  padding-top: 50px;
  text-align: center;
  background: #0d0d0d url("../img/b07__bg.png") 50% 50% no-repeat; }
  .b08 .heading {
    line-height: 1;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: uppercase; }
  .b08 .phone {
    line-height: 1;
    font-size: 36px;
    font-weight: 500; }
    .b08 .phone a {
      color: #fff;
      text-decoration: none; }
  .b08 .sub-text {
    line-height: 1;
    font-size: 24px;
    padding: 30px 0;
    font-weight: 300; }
  .b08 .social {
    padding-top: 70px;
    margin-bottom: 80px; }
    .b08 .social .social-title {
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;
      margin-bottom: 20px; }
      .b08 .social .social-title span {
        display: block; }
    .b08 .social .social-link {
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 0;
      list-style: none;
      text-align: center; }
      .b08 .social .social-link li {
        margin: 0 10px;
        display: inline-block; }
        .b08 .social .social-link li a {
          padding: 5px;
          outline: none;
          color: #474747;
          font-size: 44px;
          line-height: 1;
          text-decoration: none; }
          .b08 .social .social-link li a:hover {
            color: #fff; }
        .b08 .social .social-link li:nth-child(2) a {
          color: #afafaf; }
          .b08 .social .social-link li:nth-child(2) a:hover {
            color: #fff; }
  .b08 .contact li {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 20px; }
    .b08 .contact li:last-child p {
      font-size: 14px; }
    .b08 .contact li:last-child a {
      text-decoration: underline; }
    .b08 .contact li a {
      color: #fff; }
    .b08 .contact li p {
      opacity: 0.25;
      filter: alpha(opacity=25); }
  @media (min-width: 768px) {
    .b08 {
      padding-top: 210px;
      padding-bottom: 110px; }
      .b08 .heading {
        font-size: 30px;
        margin-bottom: 40px; }
      .b08 .phone {
        font-size: 80px; }
      .b08 .sub-text {
        padding: 40px 0; }
      .b08 .social {
        padding-top: 90px; }
        .b08 .social .social-title {
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 35px; }
          .b08 .social .social-title span {
            display: inline; }
      .b08 .contact {
        left: 15px;
        right: 15px;
        bottom: 10px;
        position: absolute;
        margin: 0 auto; }
        .b08 .contact li {
          width: 33.33%;
          float: left;
          margin-bottom: 0; }
          .b08 .contact li:first-child {
            text-align: left; }
          .b08 .contact li:last-child {
            text-align: center; } }

.layout .layout-box {
  padding: 40px 0;
  border-bottom: 1px solid #3e3e3e; }

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 100;
  margin-bottom: 20px;
  line-height: normal; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

blockquote {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  font-style: italic;
  text-align: center;
  position: relative;
  padding: 10px 25px;
  text-indent: 60px;
  margin-bottom: 30px; }
  blockquote:after, blockquote:before {
    z-index: 50;
    width: 16px;
    height: 18px;
    content: '';
    text-indent: 40px;
    position: absolute;
    background: url("../img/blockquote.png") no-repeat; }
  blockquote:after {
    top: 0;
    left: 70px;
    background-position: 0 0; }
  blockquote:before {
    bottom: 0;
    right: 70px;
    background-position: 0 -18px; }

.font24 {
  font-size: 24px;
  line-height: 30px; }

.font18 {
  font-size: 18px;
  line-height: 24px; }

p {
  margin-bottom: 28px; }

img {
  display: inline-block;
  margin: 0 20px 15px 0; }

.text-block img {
  max-width: 430px;
  display: inline-block;
  margin: 0 20px 15px 0;
  position: relative; }
  .text-block img:before {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.4); }
.text-block .img-left {
  margin-bottom: 20px;
  position: relative; }
  .text-block .img-left:before {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.4); }
@media (min-width: 768px) {
  .text-block .img-left {
    float: left;
    max-width: 200px;
    margin: 0 20px 15px 0; } }
@media (min-width: 1200px) {
  .text-block .img-left {
    max-width: 430px; } }

.news {
  max-width: 310px;
  margin-bottom: 40px; }
  .news .news-image {
    margin-bottom: 15px; }
    .news .news-image a {
      display: block;
      position: relative;
      margin-bottom: 15px; }
      .news .news-image a:before {
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.4); }
    .news .news-image .news-img-text {
      font-size: 18px;
      line-height: 24px;
      opacity: 0.5;
      filter: alpha(opacity=50); }
  .news .news-text {
    font-size: 18px;
    line-height: 24px; }
    .news .news-text h2 {
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
      margin-bottom: 20px; }
    .news .news-text p {
      margin-bottom: 20px; }
    .news .news-text .news-date {
      opacity: 0.5;
      filter: alpha(opacity=50); }
  @media (min-width: 768px) {
    .news.news-horizontal {
      max-width: inherit; }
      .news.news-horizontal .news-image {
        float: left;
        width: 310px; }
      .news.news-horizontal .news-text {
        margin-left: 330px; } }

.breadcrumbs {
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  margin: 0 0 40px 0; }
  .breadcrumbs > li {
    color: #818181;
    padding-left: 0;
    padding-right: 40px;
    position: relative;
    display: inline-block; }
    .breadcrumbs > li:before {
      top: 50%;
      left: auto;
      right: 20px;
      width: 7px;
      height: 13px;
      content: '';
      margin-top: -5px;
      position: absolute;
      background: url("../img/breadcrumb-arrow.png") 0 0 no-repeat; }
    .breadcrumbs > li:last-child:before {
      display: none; }
    .breadcrumbs > li a {
      color: #fff; }
  @media (min-width: 768px) {
    .breadcrumbs {
      font-size: 24px;
      line-height: 36px; }
      .breadcrumbs > li {
        padding-right: 50px; }
        .breadcrumbs > li:before {
          right: 22px; } }

ul {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 40px; }
  ul li {
    margin-bottom: 7px;
    position: relative;
    padding-left: 20px; }
    ul li:before {
      left: 0;
      top: 50%;
      width: 4px;
      height: 4px;
      content: '';
      margin-top: -2px;
      background: #fff;
      position: absolute;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
  @media (min-width: 768px) {
    ul {
      font-size: 24px;
      line-height: 36px; } }

ol {
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 40px 0; }
  ol li {
    margin-bottom: 7px;
    position: relative; }
  @media (min-width: 768px) {
    ol {
      font-size: 24px;
      line-height: 36px; } }

.table-heading {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 30px;
  opacity: 0.5;
  filter: alpha(opacity=50); }
  @media (min-width: 768px) {
    .table-heading {
      font-size: 30px; } }

table {
  width: 100%;
  margin-bottom: 30px; }
  table td,
  table th {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 9px;
    text-align: center; }
  table th {
    font-weight: 500;
    text-transform: uppercase; }
  table tr:nth-child(odd) {
    background: #111; }
  table tr:nth-child(even) {
    background: #0d0d0d; }
  table tr:last-child th,
  table tr:last-child td {
    border-bottom-color: transparent; }
  table tr th {
    border-right: 1px solid #414141;
    border-bottom: 1px solid #414141; }
    table tr th:last-child {
      border-right-color: transparent; }
  table tr td {
    border-right: 1px solid #414141;
    border-bottom: 1px solid #414141; }
    table tr td:last-child {
      border-right-color: transparent; }
  @media (min-width: 768px) {
    table {
      font-size: 24px;
      line-height: 36px; }
      table th,
      table tr {
        padding: 24px 18px; } }

.table-responsive {
  -webkit-box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.7); }
  @media (max-width: 600px) {
    .table-responsive {
      width: 100%;
      overflow-y: hidden;
      overflow-x: scroll;
      margin-bottom: 25px;
      border: 1px solid #ddd;
      -ms-overflow-style: -ms-autohiding-scrollbar; }
      .table-responsive .table {
        margin-bottom: 0; } }

.gallery {
  max-width: 858px;
  margin: 0 auto 50px auto; }
  .gallery .img-slider {
    margin-bottom: 60px; }
    .gallery .img-slider .img-slider-item {
      position: relative; }
      .gallery .img-slider .img-slider-item a {
        display: block;
        position: relative; }
        .gallery .img-slider .img-slider-item a:before {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          position: absolute;
          background: rgba(0, 0, 0, 0.4) url("../img/icon-loop.png") 50% 50% no-repeat; }
      .gallery .img-slider .img-slider-item .img-text {
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff;
        padding: 10px 0;
        font-size: 14px;
        line-height: 18px;
        position: absolute;
        background: rgba(0, 0, 0, 0.65); }
        .gallery .img-slider .img-slider-item .img-text ul {
          margin: 0;
          padding: 0;
          list-style: none; }
        .gallery .img-slider .img-slider-item .img-text li {
          padding: 0 15px;
          margin-bottom: 5px; }
          .gallery .img-slider .img-slider-item .img-text li:before {
            display: none; }
          .gallery .img-slider .img-slider-item .img-text li:last-child {
            margin-bottom: 0;
            opacity: 0.5;
            filter: alpha(opacity=50); }
    .gallery .img-slider img {
      margin: 0 !important; }
    .gallery .img-slider .img-slider-nav {
      top: 50%;
      content: '';
      width: 18px;
      height: 33px;
      z-index: 200;
      cursor: pointer;
      margin-top: -20px;
      position: absolute;
      background: url("../img/icon-slider-nav.png") no-repeat; }
      .gallery .img-slider .img-slider-nav.prev {
        left: 24px;
        background-position: 0 0; }
      .gallery .img-slider .img-slider-nav.next {
        right: 24px;
        background-position: -18px 0; }
  .gallery .mini-gallery a {
    display: block;
    position: relative; }
    .gallery .mini-gallery a:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0.4); }
  .gallery .mini-gallery img {
    margin: 0 !important; }
  @media (min-width: 768px) {
    .gallery .img-slider .img-slider-item .img-text {
      padding: 15px 0;
      font-size: 18px;
      line-height: 24px; }
      .gallery .img-slider .img-slider-item .img-text ul {
        width: 100%;
        display: table; }
        .gallery .img-slider .img-slider-item .img-text ul li {
          margin-bottom: 0;
          display: table-cell;
          vertical-align: middle; }
          .gallery .img-slider .img-slider-item .img-text ul li:first-child {
            width: 60%; }
          .gallery .img-slider .img-slider-item .img-text ul li:last-child {
            width: 40%;
            text-align: right; } }

.article {
  max-width: 858px;
  margin: 0 auto 50px auto; }
  .article .article-image {
    position: relative;
    margin-bottom: 10px; }
    .article .article-image img {
      margin: 0 !important; }
    .article .article-image:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0.4); }
  .article .article-date {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    text-align: right; }
  .article h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
    text-transform: uppercase; }
    .article h3 a {
      color: #fff; }
  .article p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .article .article-date {
      font-size: 18px;
      line-height: 24px; }
    .article h3 {
      font-size: 24px;
      line-height: 36px; }
    .article p {
      font-size: 18px;
      line-height: 24px; } }

.pagination-inner {
  z-index: 100; }
  @media (min-width: 768px) {
    .pagination-inner {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 25px; } }
  @media (min-width: 1200px) {
    .pagination-inner {
      left: auto;
      right: 15px; } }

.pagination {
  padding: 0;
  width: 700px;
  display: table;
  margin: 0 auto;
  list-style: none;
  position: relative; }
  .pagination:after {
    top: 20px;
    left: 20px;
    right: 20px;
    content: ' ';
    position: absolute;
    border-bottom: 1px solid #fff;
    opacity: 0.2;
    filter: alpha(opacity=20); }
  .pagination li {
    text-align: center;
    display: table-cell;
    vertical-align: middle; }
    .pagination li .num {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.1;
      padding-bottom: 10px;
      display: inline-block;
      border-bottom: 1px solid #fff; }
    .pagination li .legend {
      width: 100%;
      font-size: 11px;
      font-weight: 300;
      line-height: 1.1;
      padding-top: 10px;
      display: block;
      text-transform: uppercase; }
    .pagination li a {
      color: #fff;
      width: 100%;
      opacity: 0.4;
      filter: alpha(opacity=40);
      display: inline-block; }
      .pagination li a:hover {
        opacity: 1;
        filter: alpha(opacity=100); }
    .pagination li.active .num {
      font-size: 36px; }
    .pagination li.active .legend {
      font-size: 14px; }
    .pagination li.active a {
      opacity: 1;
      filter: alpha(opacity=100); }
  @media (min-width: 1200px) {
    .pagination {
      float: right; } }

.pagination-base {
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin-bottom: 30px; }
  .pagination-base > li {
    padding: 0 10px;
    display: inline-block; }
    .pagination-base > li:before {
      display: none !important; }
    .pagination-base > li a {
      color: #333;
      font-size: 18px;
      line-height: 24px;
      display: inline-block;
      text-decoration: none; }
      .pagination-base > li a:hover {
        color: #fff; }
    .pagination-base > li:first-child a, .pagination-base > li:last-child a {
      color: #fff; }
  @media (min-width: 768px) {
    .pagination-base > li a {
      font-size: 24px;
      line-height: 36px; } }

.pagination-disk {
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin-bottom: 30px; }
  .pagination-disk > li {
    padding: 0 17px;
    display: inline-block; }
    .pagination-disk > li:before {
      display: none !important; }
    .pagination-disk > li a {
      color: #333;
      width: 14px;
      height: 14px;
      background: #333;
      display: inline-block;
      text-decoration: none;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .pagination-disk > li a:hover {
        color: #fff;
        background: #fff; }
    .pagination-disk > li:first-child a, .pagination-disk > li:last-child a {
      color: #fff;
      width: auto;
      height: auto;
      font-size: 24px;
      line-height: 36px;
      background: transparent; }
      .pagination-disk > li:first-child a:hover, .pagination-disk > li:last-child a:hover {
        background: transparent; }

.pagination-large {
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin-bottom: 30px; }
  .pagination-large > li {
    padding: 0 10px;
    display: inline-block; }
    .pagination-large > li:before {
      display: none !important; }
    .pagination-large > li a {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
      display: inline-block;
      text-decoration: none; }
      .pagination-large > li a:hover {
        color: #fff; }
    .pagination-large > li:first-child a, .pagination-large > li:last-child a {
      color: #fff; }
  @media (min-width: 768px) {
    .pagination-large > li a {
      font-size: 36px;
      line-height: 48px; } }

.social {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  text-align: left; }
  .social li {
    margin: 0 5px;
    padding: 0;
    display: inline-block; }
    .social li:before {
      display: none !important; }
    .social li a {
      padding: 5px;
      outline: none;
      color: #474747;
      font-size: 20px;
      line-height: 1;
      text-decoration: none; }
      .social li a:hover {
        color: #fff; }
    .social li:nth-child(2) a {
      color: #afafaf; }
      .social li:nth-child(2) a:hover {
        color: #fff; }

.btn-info {
  z-index: 50;
  width: 56px;
  height: 56px;
  content: ' ';
  cursor: pointer;
  display: inline-block;
  background: url("../img/b02__btn.png") no-repeat; }

.btn-closed {
  width: 21px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  background: url("../img/icon-close.png") 0 0 no-repeat; }

.line-one {
  margin-bottom: 15px;
  border-top: 1px solid #3d3d3d; }

.line-two {
  margin-bottom: 15px;
  border-top: 1px solid #fff; }

.line-three {
  margin-bottom: 15px;
  border-top: 2px solid #fff; }

.btn-pdf {
  max-width: 220px;
  height: 70px;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  padding: 5px 0 5px 70px;
  background: transparent url("../img/icon-pdf.png") 0 50% no-repeat; }
  .btn-pdf .f-name {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px; }
  .btn-pdf .f-legend {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    opacity: 0.5;
    filter: alpha(opacity=50); }

.btn-next {
  width: 32px;
  height: 20px;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  background: url("../img/icon-next.png") 0 50% no-repeat; }

.btn-down {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  background: url("../img/icon-down.png") 50% 50% no-repeat; }

/*# sourceMappingURL=main.css.map */
