* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-weight: 300;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


section {
	position: relative;

	@media (min-width: $screen-sm-min) {
		min-height: 1024px;
	}

	@media (min-width: $screen-md-min) {
		min-height: 1000px;
		background-size: auto auto;
	}
}

// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

p {
	padding: 0;
	font-size: 18px;
	line-height: 1.34;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.h2 {
	color: #fff;
	font-weight: 300;
	margin-bottom: 35px;

	.second {
		font-size: 24px;
		line-height: 1;
		text-transform: uppercase;
	}

	.primary {
		padding: 10px 0;
		font-size: 0;
		line-height: 0;
	}

	@media (min-width: $screen-sm-min) {

		.primary {
			padding: 17px 0;
		}
	}
}

b,
strong {
	font-weight: 500;
}

.pages {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;


	li {
		width: 50%;
		float: left;
		line-height: 40px;

		&:first-child {
			font-size: 14px;
			font-weight: 300;
			text-align: right;
			text-transform: uppercase;
		}

		&:last-child {
			color: #3f3f3f;
			font-size: 24px;
			font-weight: 500;
			text-align: left;
			padding-left: 70px;
			position: relative;

			&:before {
				top: 50%;
				left: 15px;
				width: 40px;
				content: '';
				margin-top: -2px;
				position: absolute;
				border: 1px solid #9e9e9e;
			}

			b {
				color: #fff;
				font-size: 36px;
				font-weight: 500;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		right: 15px;
		bottom: 25px;
		position: absolute;

		li {
			width: auto;
			float: left;
		}
	}
}


.modal {
	position: relative;
	padding: 40px 20px;
	background: transparent;

	&:before {
		width: 1px;
		height: 1px;
		content: '';
		position: absolute;
		@include opacity(0);
		background: url("../img/modal-bg.jpg") 50% 50% no-repeat;
	}

	.modal-close {

	}

	.form-title {
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		line-height: 20px;
		text-align: center;
		margin-bottom: 25px;
		text-transform: uppercase;
	}

	.form-box {
		margin: 0 auto;
		max-width: 480px;

		.btn {
			width: 100%;
		}
	}

	.modal-content {
		color: #fff;
		font-size: 14px;
		font-weight: 300;
		max-width: 420px;
		line-height: 20px;

		h2 {
			font-size: 24px;
			font-weight: 300;
			line-height: 30px;
			margin-bottom: 25px;
			text-transform: uppercase;
		}

		.modal-text {
			padding-bottom: 30px;
		}

		p {
			margin-bottom: 30px;
		}

		.call {
			font-size: 18px;
			font-weight: 300;
			line-height: 20px;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		.modal-tel {
			color: #fff;
			font-size: 30px;
			font-weight: 300;
			line-height: 40px;
			display: inline-block;
			text-decoration: none;
			margin-bottom: 25px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.form-title {
			font-size: 36px;
			line-height: 40px;
			margin-bottom: 40px;
		}
	}


	@media (min-width: $screen-md-min) {
		padding-left: 540px;

		.form-box {
			width: 380px;
		}

		.form-title {
			font-size: 36px;
			line-height: 40px;
		}


		.modal-content {
			font-size: 18px;
			line-height: 24px;

			h2 {
				font-size: 48px;
				line-height: 50px;
				margin-bottom: 50px;
			}

			.modal-tel {
				font-size: 48px;
				line-height: 50px;
				margin-bottom: 50px;
			}
		}
	}
}

.btn-close {
	top: 20px;
	right: 40px;
	width: 21px;
	height: 20px;
	cursor: pointer;
	position: fixed;
	display: inline-block;
	background: url("../img/icon-close.png") 0 0 no-repeat;
}

.fancybox-overlay {
	background: #0d0d0d;

	.fancybox-skin {
		background: transparent !important;
	}

	.fancybox-opened {

		.fancybox-skin {
			@include box-shadow(none);
			@include border-radius(0);
		}
	}

	@media (min-width: $screen-md-min) {
		background: #0d0d0d;
		// background: #0d0d0d url("../img/modal-bg.jpg") 50% 50% no-repeat;
		background-size: cover;
	}
}

.relative {
	position: relative;

}