.b01 {
	max-width: 100%;
	overflow: hidden;
	background: #0d0d0d;
	position: relative;
	padding-top: 190px;
	padding-bottom: 15px;

	&:after {
		z-index: 10;
		top: 50%;
		content: '';
		width: 816px;
		height: 816px;
		display: none;
		margin-top: -408px;
		position: absolute;
		background: url("../img/b01__bg_o.png") 50% 50% no-repeat;
	}

	.section-row {
		z-index: 20;
		position: relative;
	}

	.h1 {
		width: 252px;
		display: block;
		font-size: 0;
		line-height: 0;
		text-align: center;
		margin: 0 auto 20px auto;

		img,
		svg {
			@include img-responsive(inline-block);
		}

		.word {
			display: block;
		}

		.word-one {
			margin: 0 40px 30px 40px;
		}
	}

	.subtitle {
		font-size: 24px;
		font-weight: 100;
		line-height: 30px;
		text-align: center;
		margin-bottom: 100px;
		text-transform: uppercase;
	}

	@media (min-width: $screen-sm-min) {
		height: 1024px;
		padding-top: 360px;
		padding-bottom: 110px;
		background: url("../img/b01__bg.jpg") 50% 50% no-repeat;
		background-size: cover;

		&:before {
			top: 18px;
		}

		&:after {
			left: -408px;
			display: block;
		}

		.h1 {
			width: 590px;
			margin-bottom: 40px;

			.word-one {
				margin: 0 30px 0 0;
			}

			.word {
				display: inline-block;
			}
		}


		.subtitle {
			font-size: 36px;
			line-height: 40px;
		}
	}

	@media (min-width: $screen-md-min) {

		&:after {
			left: auto;
			right: -488px;
			display: block;
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}