.b03 {
	max-width: 100%;
	overflow: hidden;
	padding-top: 50px;
	background: #0d0d0d url("../img/b03__bg.png") 50% 50px no-repeat;

	&:after {
		z-index: 10;
		top: 50%;
		right: -558px;
		content: '';
		width: 816px;
		height: 816px;
		display: none;
		margin-top: -408px;
		position: absolute;
		background: url("../img/b01__bg_o.png") 50% 50% no-repeat;
	}

	.container {
		z-index: 50;
	}

	h2 {
		margin-bottom: 45px;
	}

	.clients {
		width: 170px;
		margin: 0 auto;

		li {
			margin-bottom: 30px;

			span {
				display: block;
				position: relative;
				border: 1px solid #444444;

				b {
					display: block;
					position: relative;
				}

				img {
					-webkit-filter: grayscale(100%);
					-webkit-filter: grayscale(1);
					filter: grayscale(100%);

					filter: url('../img/gray.svg#grayscale');
					filter: gray;
				}

				&:hover {

					&:before {
						top: -1px;
						left: -1px;
						content: '';
						height: 45px;
						z-index: 200;
						position: absolute;
						border-left: 1px solid #fff;
					}

					&:after {
						right: -1px;
						bottom: -1px;
						content: '';
						height: 45px;
						z-index: 200;
						position: absolute;
						border-right: 1px solid #fff;
					}

					b {


						&:before {
							top: -1px;
							right: -1px;
							content: '';
							width: 45px;
							z-index: 200;
							position: absolute;
							border-top: 1px solid #fff;
						}

						&:after {
							left: -1px;
							bottom: -1px;
							content: '';
							width: 45px;
							z-index: 200;
							position: absolute;
							border-bottom: 1px solid #fff;
						}
					}


					img {
						-webkit-filter: grayscale(0%);
						-webkit-filter: grayscale(0);
						filter: grayscale(0%);
						filter: none;
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 140px;
		padding-bottom: 110px;

		.clients {
			width: auto;
			margin: 0 -10px;

			li {
				width: 25%;
				float: left;
				padding: 0 10px;
				margin-bottom: 50px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&:after {
			display: block;
		}

		.clients {
			margin: 0 -70px;

			li {
				padding: 0 75px;
				margin-bottom: 40px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}