.b02 {
	max-width: 100%;
	overflow: hidden;
	padding-top: 50px;
	position: relative;
	background: #0d0d0d url("../img/b02__bg.png") 50% 50px no-repeat;

	.h2 {
		margin-bottom: 30px;

		.primary {

		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 140px;
		padding-bottom: 110px;
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

.people-inner {
	overflow: hidden;
	position: relative;
}

.people {

	&.people-mobile {
		width: 282px;
		margin: 0 auto;
		position: relative;

		&:before {
			bottom: 240px;
			left: 50%;
			width: 29px;
			height: 31px;
			content: '';
			z-index: 50;
			display: block;
			margin-left: -15px;
			position: absolute;
			background: url("../img/b02__swipe.png") 0 0 no-repeat;
		}

		&:after {
			bottom: 240px;
			left: 50%;
			width: 162px;
			height: 35px;
			content: '';
			display: block;
			margin-left: -81px;
			position: absolute;
			background: url("../img/b02__swipe_arrow.png") 0 0 no-repeat;
		}
	}

	&.people-desktop {
		top: 0;
		left: 0;
		z-index: 100;
		width: 3000px;
		display: none;
		position: absolute;

		.people-item {
			float: left;
			width: 282px;
		}
	}

	.people-item {
		border: none;
		outline: none;
		position: relative;
		@include clearfix();

		.btn-info-toggle {
			left: 50%;
			bottom: 150px;
			width: 56px;
			height: 56px;
			z-index: 50;
			content: ' ';
			cursor: pointer;
			margin-left: -26px;
			position: absolute;
			display: inline-block;
			background: url("../img/b02__btn.png") no-repeat;
		}



		.people-info {
			left: 0;
			right: 0;
			bottom: 30px;
			text-align: center;
			position: absolute;

			span {
				display: block;
			}

			.people-name {
				font-size: 30px;
				font-weight: 300;
				line-height: 34px;
				margin-bottom: 5px;
			}

			.people-staff {
				font-size: 18px;
				font-weight: 300;
				line-height: 20px;
			}
		}

		.people-image {
			position: relative;

			.people-info {
				color: #fff;
			}

			.btn-info-toggle {
				background-position: 0 0;
			}
		}

		.people-text {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 100;
			display: none;
			color: #111111;
			font-size: 18px;
			font-weight: 300;
			background: #fff;
			line-height: 24px;
			text-align: center;
			position: absolute;
			padding: 60px 20px 200px 20px;

			.people-info {
				color: #111111;
			}


			.btn-info-toggle {
				background-position: 0 -56px;
			}
		}

		.social-link {
			margin: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			left: 0;
			width: 100%;
			bottom: 90px;
			z-index: 250;
			display: none;
			text-align: center;
			position: absolute;
			list-style: none;

			li {
				margin: 0 5px;
				display: inline-block;

				a {
					padding: 0 5px;
					outline: none;
					color: #ccc;
					font-size: 30px;
					line-height: 30px;
					text-decoration: none;

					&:hover {
						color: #000;
					}
				}

				&:nth-child(2) {

					a {
						color: #000;
					}
				}
			}
		}


		&.active {

			&:after {
				display: none;
			}

			.people-text {
				display: block;
			}
		}
	}

	.slick-list {
		overflow: visible !important;
	}


	@media (min-width: $screen-sm-min) {

		&.people-mobile {
			width: 384px;

			&:before {
				bottom: 330px;
			}

			&:after {
				bottom: 330px;
			}
		}

		.people-item {

			.btn-info-toggle {
				bottom: 210px;
			}

			.people-info {
				bottom: 65px;
			}

			.people-text {
				padding-top: 160px;
			}
		}

		&.people-desktop {

			.people-item {
				width: 384px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&.people-mobile {
			width: 1152px;
		}

		&.people-desktop {
			display: block;

			.people-item {
				width: 384px;

				&.active {
					width: 768px;
					vertical-align: top;

					.people-image {
						width: 384px;
						float: left;
					}

					.people-text {
						float: left;
						width: 384px;
						height: 730px;
						position: relative;

						.people-info {
							display: none;
						}

						.social-link {
							display: block;
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}