.b07 {
	max-width: 100%;
	overflow: hidden;
	padding-top: 50px;
	background: #0d0d0d url("../img/b07__bg.png") 50% 50% no-repeat;

	&:after {
		z-index: 10;
		top: 50%;
		left: -558px;
		content: '';
		width: 816px;
		height: 816px;
		display: none;
		margin-top: -408px;
		position: absolute;
		background: url("../img/b01__bg_o.png") 50% 50% no-repeat;
	}

	.container {
		z-index: 50;
	}

	.news {
		z-index: 50;
		margin: 0 auto;
		max-width: 400px;

		.news-content {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 5;
			position: absolute;

			h4 {
				font-size: 32px;
				font-weight: 300;
				line-height: 36px;
				margin-bottom: 20px;
				text-transform: uppercase;
			}

			p {
				font-size: 14px;
				font-weight: 300;
				line-height: 20px;
				max-width: 490px;
			}

			.news-link {
				left: 30px;
				color: #fff;
				bottom: 50px;
				font-size: 16px;
				font-weight: 300;
				line-height: 20px;
				position: absolute;
				padding-right: 45px;
				background: url("../img/news-arrow.png") 100% 50% no-repeat;

				span {
					text-transform: uppercase;
					text-decoration: underline;
				}
			}
		}

		.news-primary {
			height: 497px;
			position: relative;
			margin-bottom: 20px;
			background: url("../img/b07__item1.jpg") 0 0 no-repeat;

			.news-content {
				padding: 145px 10px 70px 30px;

				p {
					font-size: 19px;
					line-height: 23px;
				}
			}
		}

		.news-second {
			padding: 0;
			list-style: none;
			margin: 0 0 20px 0;


			li {
				height: 290px;
				position: relative;
				margin-bottom: 20px;

				.news-content {
					padding: 95px 10px 70px 30px;

					p {
						text-transform: uppercase;
					}
				}

				&:first-child {
					background: url("../img/b07__item2.jpg") 0 0 no-repeat;
				}


				&:last-child {
					margin-bottom: 0;
					background: url("../img/b07__item3.jpg") 0 0 no-repeat;
				}
			}
		}
	}


	.news-all {
		color: #fff;
		font-size: 15px;
		font-weight: 300;
		line-height: 20px;
		padding-right: 40px;
		background: url("../img/news-arrow.png") 100% 50% no-repeat;

		span {
			text-decoration: underline;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 140px;
		padding-bottom: 110px;

		.news {
			margin: 0 auto;
			max-width: inherit;

			.news-content {

				.news-link {
					font-size: 18px;
					line-height: 22px;
				}
			}

			.news-primary {

				h4 {
					font-size: 48px;
					line-height: 56px;
				}

				.news-content {

					.news-link {
						font-size: 24px;
						line-height: 28px;
					}

					p {
						font-size: 24px;
						line-height: 30px;
					}
				}
			}

			.news-second {
				margin: 0 -10px;

				li {
					float: left;
					width: 350px;
					margin: 0 10px 20px 10px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&:after {
			display: block;
		}

		.h2 {
			top: 50%;
			left: -155px;
			margin-top: -78px;
			position: absolute;
		}


		.news {
			width: 1260px;
			margin-left: 280px;

			.news-primary {
				float: left;
				width: 794px;
				height: 635px;
				margin-right: 20px;

				.news-content {
					padding-top: 250px;
					padding-left: 90px;

					&:before {
						top: 30px;
						left: 35px;
						right: 35px;
						bottom: 30px;
						content: ' ';
						position: absolute;
						border: 1px solid #fff;
					}

					h4 {
						font-size: 48px;
						line-height: 50px;
					}

					p {
						font-size: 24px;
						line-height: 30px;
					}

					.news-link {
						left: 90px;
						font-size: 22px;
						line-height: 24px;
					}
				}
			}

			.news-second {
				margin: 0;
				width: 440px;
				float: left;

				li {
					width: 100%;
					margin-bottom: 20px;

					&:first-child {
						height: 316px;
					}

					&:last-child {
						height: 295px;
						margin-bottom: 0;
					}
				}

				.news-content {

					.news-link {
						display: none;
					}
				}
			}
		}

		.news-all {
			font-size: 22px;
			line-height: 26px;
			margin-left: 280px;
		}
	}
}

