.b04 {
	max-width: 100%;
	overflow: hidden;
	padding-top: 50px;
	background: #0d0d0d url("../img/b04__bg.png") 50% 50px no-repeat;

	h2 {
		margin-bottom: 25px;
	}

	.work {
		margin: 0 auto;
		max-width: 550px;

		li {
			color: #fff;
			height: 311px;
			margin-bottom: 25px;
			padding: 110px 20px 50px 30px;

			&.item1 {
				background: url("../img/b04__item1.jpg") 0 0 no-repeat;
			}

			&.item2 {
				background: url("../img/b04__item2.jpg") 0 0 no-repeat;
			}

			&.item3 {
				background: url("../img/b04__item3.jpg") 0 0 no-repeat;
			}

			&.item4 {
				background: url("../img/b04__item4.jpg") 0 0 no-repeat;
			}

			h4 {
				font-size: 36px;
				font-weight: 300;
				line-height: 40px;
				margin-bottom: 5px;
				text-transform: uppercase;
			}

			p {
				font-size: 18px;
				font-weight: 300;
				line-height: 22px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 140px;
		padding-bottom: 110px;

		.work {
			margin: 0 -10px;
			max-width: inherit;

			li {
				float: left;
				width: 350px;
				margin: 0 10px 20px 10px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.work {
			margin: 0 -15px;

			li {
				width: 555px;
				margin: 0 15px 25px 15px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}