.b05 {
	max-width: 100%;
	overflow: hidden;
	padding-top: 50px;
	position: relative;
	background: #0d0d0d url("../img/b05__bg.png") 50% 50% no-repeat;

	&:after {
		z-index: 10;
		top: 50%;
		right: -40px;
		content: '';
		width: 582px;
		height: 696px;
		display: none;
		margin-top: -348px;
		position: absolute;
		background: url("../img/b05__bg_item.png") 50% 50% no-repeat;
	}

	.container {
		z-index: 20;
	}

	h2 {
		margin-bottom: 35px;
	}

	.service {
		padding: 0;
		margin: 0 auto;
		max-width: 320px;

		> li {
			overflow: hidden;
			position: relative;
			margin-bottom: 55px;
			@include box-shadow(0px 13px 22px 0px rgba(0, 0, 0, 0.5));

			&:last-child {
				margin-bottom: 0;
			}
		}

		.service-text {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			position: absolute;
			padding: 220px 5px 120px 5px;

			.service-link {
				top: 72px;
				left: 50%;
				width: 56px;
				height: 56px;
				display: block;
				margin-left: -28px;
				position: absolute;
				background: url("../img/icon-info.png") 0 0 no-repeat;
			}

			h4 {
				font-size: 22px;
				font-weight: 500;
				line-height: 28px;
				margin-bottom: 5px;
			}

			p {
				font-size: 14px;
				font-weight: 300;
				line-height: 18px;
			}

			.service-bottom {
				left: 0;
				right: 0;
				bottom: 80px;
				position: absolute;
				text-align: center;
			}
		}

		.service-info {
			top: 0;
			left: 0;
			z-index: 100;
			width: 100%;
			height: 100%;
			color: #282828;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			position: absolute;
			display: none;
			background: #ffffff;
			padding: 50px 20px 160px 30px;

			.info-close {
				top: 12px;
				right: 12px;
				width: 21px;
				height: 19px;
				cursor: pointer;
				position: absolute;
				display: inline-block;
				background: url("../img/info-close.png") 0 0 no-repeat;
			}

			h4 {
				color: #000;
				font-size: 24px;
				font-weight: 300;
				line-height: 30px;
				margin-bottom: 30px;
				text-transform: uppercase;
			}

			.service-footer {
				left: 30px;
				right: 20px;
				bottom: 35px;
				position: absolute;

				.call {
					font-size: 18px;
					font-weight: 400;
					line-height: 20px;
					margin-bottom: 5px;
					text-transform: uppercase;
				}

				.modal-tel {
					color: #282828;
					font-size: 30px;
					font-weight: 300;
					line-height: 40px;
					display: inline-block;
					text-decoration: none;
					margin-bottom: 25px;
				}

				.btn-order {
					color: #282828;
					border-color: #282828;

					&:after,
					&:before {
						border-color: #282828;
					}
				}
			}
		}

		.service-form {
			padding-top: 70px;

			.form-title {
				font-size: 24px;
				font-weight: 300;
				line-height: 24px;
				margin-bottom: 20px;
				text-align: center;
				text-transform: uppercase;
			}

			.form-control {
				color: #acacac;
				border-color: #acacac;
			}

			.select-control {
				color: #acacac;
				border-color: #acacac;
				background-color: #fff;

				option {
					background: #fff;
				}
			}

			.btn {
				color: #000;
				border-color: #7f7f7f;

				&:after,
				&:before {
					border-color: #000;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		padding-top: 140px;
		padding-bottom: 110px;

		h2 {
			margin-bottom: 40px;
		}

		.service {
			max-width: 390px;

			> li {
				height: 520px;
			}

			.service-form {

				.btn {
					margin-top: 0;
					padding: 9px 20px;
				}
			}

			.form-control {
				padding: 14px 12px;
			}

			.select-control {
				padding: 14px 12px;
			}

			.form-group {
				margin-bottom: 11px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&:after {
			display: block;
		}

		.h2 {
			margin-bottom: 90px;
		}

		.service {
			margin: 0 -30px;
			max-width: inherit;

			> li {
				float: left;
				width: 320px;
				margin: 0 30px;
				height: auto;
			}

			.service-info {
				display: none !important;
			}

			.service-form {

				.btn {
					margin-top: 0;
					padding: 19px 27px;
				}
			}

			.form-control {
				font-size: 24px;
				padding: 21px 12px;
			}

			.select-control {
				padding: 21px 12px;
			}

			.form-group {
				margin-bottom: 24px;
			}
		}
	}
}

