.b08 {
	max-width: 100%;
	overflow: hidden;
	padding-top: 50px;
	text-align: center;
	background: #0d0d0d url("../img/b07__bg.png") 50% 50% no-repeat;

	.heading {
		line-height: 1;
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	.phone {
		line-height: 1;
		font-size: 36px;
		font-weight: 500;

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	.sub-text {
		line-height: 1;
		font-size: 24px;
		padding: 30px 0;
		font-weight: 300;
	}

	.social {
		padding-top: 70px;
		margin-bottom: 80px;

		.social-title {
			font-size: 18px;
			font-weight: 300;
			line-height: 22px;
			margin-bottom: 20px;

			span {
				display: block;
			}
		}

		.social-link {
			margin: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			text-align: center;

			li {
				margin: 0 10px;
				display: inline-block;

				a {
					padding: 5px;
					outline: none;
					color: #474747;
					font-size: 44px;
					line-height: 1;
					text-decoration: none;

					&:hover {
						color: #fff;
					}
				}

				&:nth-child(2) {

					a {
						color: #afafaf;

						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
	}

	.contact {

		li {
			color: #fff;
			font-size: 18px;
			font-weight: 300;
			line-height: 24px;
			margin-bottom: 20px;

			&:last-child {

				p {
					font-size: 14px;
				}

				a {
					text-decoration: underline;
				}
			}

			a {
				color: #fff;
			}

			p {
				@include opacity(0.25);
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 210px;
		padding-bottom: 110px;

		.heading {
			font-size: 30px;
			margin-bottom: 40px;
		}

		.phone {
			font-size: 80px;
		}

		.sub-text {
			padding: 40px 0;
		}

		.social {
			padding-top: 90px;

			.social-title {
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 35px;

				span {
					display: inline;
				}
			}
		}

		.contact {
			left: 15px;
			right: 15px;
			bottom: 10px;
			position: absolute;
			margin: 0 auto;

			li {
				width: 33.33%;
				float: left;
				margin-bottom: 0;

				&:first-child {
					text-align: left;
				}

				&:last-child {
					text-align: center;
				}
			}
		}
	}
}