.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	position: absolute;


	.header-container {
		position: relative;
		@include clearfix();
		padding: 15px 20px 20px 15px;

		&:before {
			left: 50%;
			top: 115px;
			width: 40px;
			height: 49px;
			content: ' ';
			margin-left: -20px;
			position: absolute;
			background: url("../img/triangle_top.png") 0 0 no-repeat;
		}
	}


	.btn-toggle {
		float: left;
		color: #fff;
		width: 30px;
		height: 30px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		padding-top: 5px;
		display: inline-block;

		span {
			width: 100%;
			margin-bottom: 6px;
			display: inline-block;
			border-bottom: 3px solid #fff;

			&:last-child {
				width: 18px;
				margin-bottom: 0;
			}
		}
	}

	.contact {
		margin: 0;
		padding: 0;
		float: right;
		list-style: none;

		li {
			text-align: right;
			margin-bottom: 8px;

			&:before {
				margin-bottom: 0;
			}
		}

		.tel {
			color: #f3f2f2;
			font-size: 18px;
			font-weight: 300;
			line-height: 20px;
			display: inline-block;
		}

		.btn {
			font-size: 14px;
			font-weight: 400;
			padding: 9px 16px;
		}
	}

	.nav {
		top: 0;
		left: 0;
		right: 0;
		display: none;
		z-index: 9999;
		overflow: hidden;
		position: absolute;
		background: #0d0d0d;
		padding: 25px 75px 25px 40px;

		ul {
			margin: 0;
			font-size: 0;
			line-height: 0;
			padding: 20px 0;
			list-style: none;
			position: relative;

			&:after {
				top: 5px;
				bottom: 15px;
				right: 15px;
				content: '';
				position: absolute;
				border-left: 1px solid #1e1e1e;
			}
		}

		li {
			text-align: right;
			margin: 0 0 10px 0;

			a {
				color: #fff;
				font-size: 14px;
				font-weight: 300;
				line-height: 40px;
				display: inline-block;
				@include opacity(0.8);

				i {
					display: none;
				}

				span {
					float: left;
					display: inline-block;
					text-transform: uppercase;
				}

				b {
					width: 100px;
					font-size: 24px;
					font-weight: 500;
					position: relative;
					text-align: right;
					float: right;
					display: inline-block;

					&:before {
						top: 50%;
						left: 15px;
						width: 42px;
						content: '';
						position: absolute;
						border-bottom: 1px solid #fff;
					}
				}

				&:hover {
					@include opacity(1);
				}
			}

			&.active {

				a {
					@include opacity(1);

					b {
						font-size: 36px;
						margin-right: -5px;
						width: 105px;
					}
				}
			}
		}

		.nav-close {
			top: 18px;
			right: 18px;
			width: 21px;
			height: 20px;
			cursor: pointer;
			position: absolute;
			display: inline-block;
			background: url("../img/icon-close.png") 0 0 no-repeat;
		}
	}


	@media (min-width: $screen-sm-min) {
		position: fixed;

		.header-container {

			&:before {
				top: 18px;
			}
		}

		.contact {
			width: 330px;
			text-align: right;

			li {
				float: left;
				width: 50%;
			}

			.tel {
				padding-top: 10px;
			}
		}

		.nav {
			padding: 35px 50px 35px 70px;

			ul {
				padding: 0;

				&:after {
					display: none;
				}
			}

			li {
				float: left;
				margin: 0 10px;
				text-align: center;

				a {
					color: #818181;
					line-height: 20px;
					@include opacity(1);

					i {
						display: inline;
						margin-right: 4px;
					}

					span {
						float: none;
						display: inline;
						letter-spacing: 2px;
					}

					b {
						display: none;
					}

					&:hover {
						color: #fff;
					}
				}

				&.active {
					a {
						color: #fff;
					}
				}
			}

			.nav-close {
				top: 20px;
				left: 20px;
				right: auto;
			}
		}
	}

	@media (min-width: $screen-md-min) {


		.contact {
			width: 360px;

			.tel {
				font-size: 24px;
			}
		}

		.nav {
			padding: 35px 0 35px 0;

			ul {
				width: 1260px;
				margin: 0 auto;
				padding: 0 50px 0 70px;
			}
		}
	}
}

