.layout {

	.layout-box {
		padding: 40px 0;
		border-bottom: 1px solid #3e3e3e;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: 100;
	margin-bottom: 20px;
	line-height: normal;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

blockquote {
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	font-style: italic;
	text-align: center;
	position: relative;
	padding: 10px 25px;
	text-indent: 60px;
	margin-bottom: 30px;

	&:after,
	&:before {
		z-index: 50;
		width: 16px;
		height: 18px;
		content: '';
		text-indent: 40px;
		position: absolute;
		background: url("../img/blockquote.png") no-repeat;
	}

	&:after {
		top: 0;
		left: 70px;
		background-position: 0 0;
	}


	&:before {
		bottom: 0;
		right: 70px;
		background-position: 0 -18px;
	}
}

.font24 {
	font-size: 24px;
	line-height: 30px;
}

.font18 {
	font-size: 18px;
	line-height: 24px;
}

p {
	margin-bottom: 28px;
}

img {
	display: inline-block;
	margin: 0 20px 15px 0;
}

.text-block {

	img {
		max-width: 430px;
		display: inline-block;
		margin: 0 20px 15px 0;
		position: relative;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: rgba(0,0,0, 0.4);
		}
	}

	.img-left {
		margin-bottom: 20px;
		position: relative;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: rgba(0,0,0, 0.4);
		}
	}

	@media (min-width: $screen-sm-min) {

		.img-left {
			float: left;
			max-width: 200px;
			margin: 0 20px 15px 0;
		}
	}

	@media (min-width: $screen-md-min) {

		.img-left {
			max-width: 430px;
		}
	}
}

.news {
	max-width: 310px;
	margin-bottom: 40px;

	.news-image {
		margin-bottom: 15px;

		a {
			display: block;
			position: relative;
			margin-bottom: 15px;

			&:before {
				top: 0;
				left: 0;
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				background: rgba(0,0,0, 0.4);
			}
		}

		.news-img-text {
			font-size: 18px;
			line-height: 24px;
			@include opacity(0.5);
		}
	}

	.news-text {
		font-size: 18px;
		line-height: 24px;

		h2 {
			font-size: 24px;
			font-weight: 500;
			line-height: 36px;
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 20px;
		}

		.news-date {
			@include opacity(0.5);
		}
	}

	@media (min-width: $screen-sm-min) {

		&.news-horizontal {
			max-width: inherit;

			.news-image {
				float: left;
				width: 310px;
			}

			.news-text {
				margin-left: 330px;
			}
		}
	}
}

.breadcrumbs {
	padding: 0;
	font-size: 18px;
	line-height: 24px;
	list-style: none;
	margin: 0 0 40px 0;


	> li {
		color: #818181;
		padding-left: 0;
		padding-right: 40px;
		position: relative;
		display: inline-block;

		&:before {
			top: 50%;
			left: auto;
			right: 20px;
			width: 7px;
			height: 13px;
			content: '';
			margin-top: -5px;
			position: absolute;
			background: url("../img/breadcrumb-arrow.png") 0 0 no-repeat;
		}

		&:last-child {

			&:before {
				display: none;
			}
		}


		a {
			color: #fff;
		}
	}

	@media (min-width: $screen-sm-min) {
		font-size: 24px;
		line-height: 36px;

		> li {
			padding-right: 50px;

			&:before {
				right: 22px;
			}
		}
	}
}

ul {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 40px;

	li {
		margin-bottom: 7px;
		position: relative;
		padding-left: 20px;

		&:before {
			left: 0;
			top: 50%;
			width: 4px;
			height: 4px;
			content: '';
			margin-top: -2px;
			background: #fff;
			position: absolute;
			@include border-radius(50%);
		}
	}


	@media (min-width: $screen-sm-min) {
		font-size: 24px;
		line-height: 36px;
	}
}


ol {
	padding: 0;
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 40px 0;

	li {
		margin-bottom: 7px;
		position: relative;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 24px;
		line-height: 36px;
	}
}


// Table

.table-heading {
	font-size: 20px;
	line-height: 1;
	margin-bottom: 30px;
	@include opacity(0.5);

	@media (min-width: $screen-sm-min) {
		font-size: 30px;
	}
}

table {
	width: 100%;
	margin-bottom: 30px;

	td,
	th {
		font-size: 16px;
		line-height: 24px;
		padding: 12px 9px;
		text-align: center;

	}

	th {
		font-weight: 500;
		text-transform: uppercase;
	}

	tr {

		&:nth-child(odd){
			background: #111;
		}

		&:nth-child(even){
			background: #0d0d0d;
		}

		&:last-child {

			th,
			td {
				border-bottom-color: transparent;
			}
		}

		th {
			border-right: 1px solid #414141;
			border-bottom: 1px solid #414141;

			&:last-child {
				border-right-color: transparent;
			}
		}

		td {
			border-right: 1px solid #414141;
			border-bottom: 1px solid #414141;

			&:last-child {
				border-right-color: transparent;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		font-size: 24px;
		line-height: 36px;

		th,
		tr {
			padding: 24px 18px;
		}
	}
}

.table-responsive {
	@include box-shadow(0px 11px 30px 0px rgba(0, 0, 0, 0.7));

	@media (max-width: 600px) {

		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		margin-bottom: 25px;
		border: 1px solid #ddd;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		.table {
			margin-bottom: 0;
		}
	}
}


.gallery {
	max-width: 858px;
	margin: 0 auto 50px auto;

	.img-slider {
		margin-bottom: 60px;

		.img-slider-item {
			position: relative;

			a {
				display: block;
				position: relative;

				&:before {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: '';
					position: absolute;
					background: rgba(0,0,0, 0.4) url("../img/icon-loop.png") 50% 50% no-repeat;
				}
			}

			.img-text {
				bottom: 0;
				left: 0;
				right: 0;
				color: #fff;
				padding: 10px 0;
				font-size: 14px;
				line-height: 18px;
				position: absolute;
				background: rgba(0,0,0, 0.65);

				ul {
					margin: 0;
					padding: 0;
					list-style: none;
				}

				li {
					padding: 0 15px;
					margin-bottom: 5px;

					&:before {
						display: none;
					}

					&:first-child {

					}

					&:last-child {
						margin-bottom: 0;
						@include opacity(0.5);
					}
				}
			}
		}

		img {
			margin: 0 !important;
		}

		.img-slider-nav {
			top: 50%;
			content: '';
			width: 18px;
			height: 33px;
			z-index: 200;
			cursor: pointer;
			margin-top: -20px;
			position: absolute;
			background: url("../img/icon-slider-nav.png") no-repeat;

			&.prev {
				left: 24px;
				background-position: 0 0;
			}

			&.next {
				right: 24px;
				background-position: -18px 0;
			}
		}
	}

	.mini-gallery {

		a {
			display: block;
			position: relative;

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				position: absolute;
				background: rgba(0,0,0, 0.4);
			}
		}

		img {
			margin: 0 !important;
		}
	}


	@media (min-width: $screen-sm-min) {

		.img-slider {

			.img-slider-item {

				.img-text {
					padding: 15px 0;
					font-size: 18px;
					line-height: 24px;

					ul {
						width: 100%;
						display: table;

						li {
							margin-bottom: 0;
							display: table-cell;
							vertical-align: middle;

							&:first-child {
								width: 60%;
							}


							&:last-child {
								width: 40%;
								text-align: right;
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}
}


.article {
	max-width: 858px;
	margin: 0 auto 50px auto;

	.article-image {
		position: relative;
		margin-bottom: 10px;

		img {
			margin: 0 !important;
		}

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			position: absolute;
			background: rgba(0,0,0, 0.4);
		}
	}

	.article-date {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 10px;
		@include opacity(0.5);
		text-align: right;
	}

	h3 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 15px;
		text-transform: uppercase;

		a {
			color: #fff;
		}
	}

	p {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 0;
	}

	@media (min-width: $screen-sm-min) {

		.article-date {
			font-size: 18px;
			line-height: 24px;
		}

		h3 {
			font-size: 24px;
			line-height: 36px;
		}

		p {
			font-size: 18px;
			line-height: 24px;
		}
	}
}


.pagination-inner {
	z-index: 100;


	@media (min-width: $screen-sm-min) {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 25px;
	}

	@media (min-width: $screen-md-min) {
		left: auto;
		right: 15px;
	}
}

.pagination {
	padding: 0;
	width: 700px;
	display: table;
	margin: 0 auto;
	list-style: none;
	position: relative;

	&:after {
		top: 20px;
		left: 20px;
		right: 20px;
		content: ' ';
		position: absolute;
		border-bottom: 1px solid #fff;
		@include opacity(0.2);
	}



	li {
		text-align: center;
		display: table-cell;
		vertical-align: middle;

		.num {
			font-size: 24px;
			font-weight: 500;
			line-height: 1.1;
			padding-bottom: 10px;
			display: inline-block;
			border-bottom: 1px solid #fff;

		}

		.legend {
			width: 100%;
			font-size: 11px;
			font-weight: 300;
			line-height: 1.1;
			padding-top: 10px;
			display: block;
			text-transform: uppercase;
		}

		a {
			color: #fff;
			width: 100%;
			@include opacity(0.4);
			display: inline-block;

			&:hover {
				@include opacity(1);
			}
		}

		&.active {

			.num {
				font-size: 36px;
			}

			.legend {
				font-size: 14px;
			}

			a {
				@include opacity(1);
			}
		}
	}

	@media (min-width: $screen-md-min) {
		float: right;
	}
}

.pagination-base {
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-align: center;
	margin-bottom: 30px;

	> li {
		padding: 0 10px;
		display: inline-block;

		&:before {
			display: none !important;
		}

		a {
			color: #333;
			font-size: 18px;
			line-height: 24px;
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: #fff;
			}
		}

		&:first-child,
		&:last-child {

			a {
				color: #fff;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		> li {

			a {
				font-size: 24px;
				line-height: 36px;
			}
		}
	}
}

.pagination-disk {
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-align: center;
	margin-bottom: 30px;

	> li {
		padding: 0 17px;
		display: inline-block;

		&:before {
			display: none !important;
		}


		a {
			color: #333;
			width: 14px;
			height: 14px;
			background: #333;
			display: inline-block;
			text-decoration: none;
			@include border-radius(50%);

			&:hover {
				color: #fff;
				background: #fff;
			}
		}

		&:first-child,
		&:last-child {

			a {
				color: #fff;
				width: auto;
				height: auto;
				font-size: 24px;
				line-height: 36px;
				background: transparent;

				&:hover {
					background: transparent;
				}
			}
		}
	}
}

.pagination-large {
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-align: center;
	margin-bottom: 30px;

	> li {
		padding: 0 10px;
		display: inline-block;


		&:before {
			display: none !important;
		}


		a {
			color: #fff;
			font-size: 24px;
			font-weight: 500;
			line-height: 36px;
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: #fff;
			}
		}

		&:first-child,
		&:last-child {

			a {
				color: #fff;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		> li {

			a {
				font-size: 36px;
				line-height: 48px;
			}
		}
	}
}


.social {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	text-align: left;

	li {
		margin: 0 5px;
		padding: 0;
		display: inline-block;


		&:before {
			display: none !important;
		}


		a {
			padding: 5px;
			outline: none;
			color: #474747;
			font-size: 20px;
			line-height: 1;
			text-decoration: none;

			&:hover {
				color: #fff;
			}
		}

		&:nth-child(2) {

			a {
				color: #afafaf;

				&:hover {
					color: #fff;
				}
			}
		}
	}
}

.btn-info {
	z-index: 50;
	width: 56px;
	height: 56px;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	background: url("../img/b02__btn.png") no-repeat;
}

.btn-closed {
	width: 21px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	display: inline-block;
	background: url("../img/icon-close.png") 0 0 no-repeat;
}

.line-one {
	margin-bottom: 15px;
	border-top: 1px solid #3d3d3d;
}

.line-two {
	margin-bottom: 15px;
	border-top: 1px solid #fff;
}

.line-three {
	margin-bottom: 15px;
	border-top: 2px solid #fff;
}

.btn-pdf {
	max-width: 220px;
	height: 70px;
	border: none;
	outline: none;
	cursor: pointer;
	display: inline-block;
	padding: 5px 0 5px 70px;
	background: transparent url("../img/icon-pdf.png") 0 50% no-repeat;

	.f-name {
		color: #fff;
		font-size: 24px;
		font-weight: 300;
		line-height: 30px;
	}

	.f-legend {
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		line-height: 24px;
		@include opacity(0.5);
	}
}

.btn-next {
	width: 32px;
	height: 20px;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background: url("../img/icon-next.png") 0 50% no-repeat;
}

.btn-down {
	width: 20px;
	height: 20px;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background: url("../img/icon-down.png") 50% 50% no-repeat;
}