.btn {
	margin:0;
	color: #fff;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 10px 27px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	background: transparent;
	border: 1px solid #444444;
	touch-action: manipulation;
	border-right-color: #ffffff;

	&:before {
		left: 50%;
		top: -1px;
		width: 50%;
		content: '';
		z-index: 10;
		position: absolute;
		border-bottom: 1px solid #fff;
	}

	&:after {
		right: 0;
		width: 25%;
		content: '';
		z-index: 10;
		bottom: -1px;
		position: absolute;
		border-bottom: 1px solid #fff;
	}

	&:hover {
		color: #fff;
		text-decoration: none;

		&:after {
			width: 100%;
		}
	}

	&:active {
		top: 1px;
		border-color: #fff;
	}
}


.btn-invert {
	color: #000;
	border-color: #888;
	background-color: #fff;
	border-right-color: #000;

	&:after {
		border-color: #000;
	}

	&:before {
		border-color: #000;
	}

	&:hover {
		color: #000;

		&:after {
			width: 100%;
		}
	}

	&:active {
		border-color: #000;
	}
}


.btn-sm {
	font-size: 16px;
	font-weight: 400;
	padding: 10px 33px;

	@media (min-width: $screen-md-min) {
		font-size: 18px;
		padding: 15px 60px;
	}
}


.btn-md {
	font-size: 18px;
	font-weight: 400;
	padding: 22px 30px;

	@media (min-width: $screen-sm-min) {
		padding: 21px 42px;
		font-size: 24px;
		line-height: 30px;
	}
}

.btn-send {
	width: 100%;
	margin-top: 15px;
	font-size: 18px;
	font-weight: 400;
	padding: 11px 27px;

	@media (min-width: $screen-sm-min) {
		font-size: 30px;
		margin-top: 0;
		padding: 18px 27px;
		line-height: 40px;
	}

	@media (min-width: $screen-md-min) {


	}
}