input[type='text'],
textarea {
	margin: 0;
	width: 100%;
	color: #868686;
	outline: none;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	padding: 7px 12px;
	display: inline-block;
	background: transparent;
	border: 1px solid #fff;
	@include placeholder(#868686);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.select-control {
	margin: 0;
	width: 100%;
	color: #868686;
	outline: none;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	padding: 7px 12px;
	display: inline-block;
	border: 1px solid #fff;
	@include placeholder(#868686);
	background: transparent url("../img/select.png") 100% 50% no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;


	select::-ms-expand {
		display: none;
	}

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}


	option {
		background: #0d0d0d;
	}

}

.red {

	.form-control {
		border-color: #ff0000;
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 13px;
}


@media (min-width: $screen-sm-min) {

	input[type='text'],
	textarea {
		font-size: 24px;
		padding: 21px 12px;
	}

	.select-control {
		font-size: 24px;
		padding: 21px 12px;
	}

	.form-group {
		margin-bottom: 22px;
	}
}

@media (min-width: $screen-md-min) {

	input[type='text'],
	textarea {
		font-size: 24px;
		padding: 21px 12px;
	}

	.select-control {
		padding: 21px 12px;
	}

	.form-group {
		margin-bottom: 24px;
	}
}



.form-radio {

	.icr-text {
		color: #fff;
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
		cursor: pointer;
		display: inline-block;
		position: relative;
		padding: 10px 0 10px 40px;

		&:before {
			left: 0;
			top: 5px;
			content: '';
			width: 30px;
			height: 30px;
			display: block;
			background: transparent;
			position: absolute;
			border: 4px solid #181818;
			@include border-radius(50%);
		}
	}


	.checked {

		.icr-text {

			&:after {
				left: 8px;
				top: 13px;
				content: '';
				width: 14px;
				height: 14px;
				display: block;
				background: #fff;
				position: absolute;
				@include border-radius(50%);
			}
		}
	}

	label {
		position: relative;
		display: inline-block;
	}

	.icr-hidden {
		display: none;
	}

	@media (min-width: $screen-md-min) {

		.icr-text {
			font-size: 24px;
			line-height: 30px;
			padding: 5px 0 5px 40px;
		}
	}
}

.form-checkbox {

	.icr-text {
		color: #fff;
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
		cursor: pointer;
		display: inline-block;
		position: relative;
		padding: 10px 0 10px 40px;

		&:before {
			left: 0;
			top: 5px;
			content: '';
			width: 28px;
			height: 28px;
			z-index: 10;
			display: block;
			background: transparent;
			position: absolute;
			border: 2px solid #181818;
			@include border-radius(3px);
		}

		&:after {
			left: 0;
			top: 5px;
			content: '';
			width: 28px;
			height: 28px;
			z-index: 20;
			display: none;
			position: absolute;
			background: url("../img/icon-check.png") 50% 50% no-repeat;
		}
	}

	.checked {

		.icr-text {

			&:after {
				display: block;
			}
		}
	}

	label {
		position: relative;
		display: inline-block;
	}

	.icr-hidden {
		display: none;
	}


	@media (min-width: $screen-md-min) {

		.icr-text {
			font-size: 24px;
			line-height: 30px;
			padding: 5px 0 5px 40px;
		}
	}
}


.select-main {
	display: block;
	width: 100%;

	.select-main-link {
		margin: 0;
		width: 100%;
		color: #868686;
		outline: none;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		padding: 21px 12px;
		display: inline-block;
		border: 1px solid #fff;
		@include placeholder(#868686);
		background: transparent url("../img/select.png") 100% 50% no-repeat;

		&:hover {
			color: #fff;
		}
	}

	.ik_select_link_text {
		overflow: hidden;
	}

	@media (min-width: $screen-md-min) {

		.select-main-link {
			font-size: 22px;
		}
	}
}

.ik_select_dropdown {

	.ik_select_list_inner {

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			background: #0d0d0d;

			li {
				color: #fff;
				font-size: 18px;
				line-height: 20px;
				cursor: pointer;
				padding: 15px 10px;
				background: #0d0d0d;
				margin-bottom: 0;

				&:before {
					display: none;
				}

				&:hover {
					color: #fff;
					background: #111111;
				}

				@media (min-width: $screen-md-min) {

					font-size: 24px;
					padding: 20px 10px;
				}
			}
		}
	}
}
